<div class="<%= local ? "book-thumb local" : "book-thumb shop" %>">
  <% if not local %>
  <a href="<%= book.href %>" target="_blank">
  <% else %>
  <a href="<%= book.href %>">
  <% end %>
    <img class="cover" src="<%= digest_url(book.cover) %>"/>
    <div class="title"> <%= book.title %> </div>
  </a>
  <% if not book.authors.nil? %>
  <div class="author"> <%= book.authors %> </div>
  <% end %>
</div>
