<% if not classes.empty? %>
<hr/>
<div class="title"> <%= title %> </div>
<% classes.each do |c| %>
<div class="class site-anchor" id="<%= c.slug %>">
  <img src="<%= digest_url("/timetable/#{c.image}") %>"/>
  <div class="description">
    <div class="title"> <%= c.title %> </div>
    <div class="timeshort"> <%= c.timeshort(week) %> </div>
    <% a = timetable_announces(c.announces(week)) %>
    <% if not a.empty? %>
    <div class="changes">
      <span class="note"> Изменения: </span>
      <span class="announces"><%= a %> </span>
    </div>
    <% end %>
    <div class="info"> <%= c.info %> </div>
  </div> <%# description %>
</div> <%# class %>
<% end %>
<% end %>
