<% if not classes.empty? %>
<div class="section">
  <div class="title-section"> <%= title %> </div>
  <% classes.each do |c| %>
  <div class="class" id="<%= slug(Russian::transliterate(c.title)) %>">
    <img src="<%= digest_url("/timetable/#{c.image}") %>"/>
    <div class="description">
      <div class="title-class"> <%= c.title %> </div>
      <div class="timeshort"> <%= c.timeshort(week) %> </div>
      <% a = c.announces(week) %>
      <% if not a.empty? %>
      <div class="changes">
        <span class="note"> Изменения: </span>
        <span class="announces"><%= a %> </span>
      </div>
      <% end %>
      <div class="info"> <%= c.info %> </div>
    </div> <%# description %>
  </div> <%# class %>
  <% end %>
</div>
<% end %>
