<% if not classes.empty? %>
<div class="section">
  <div class="title"> <%= title %> </div>
  <% classes.each do |c| %>
  <div class="class" id="<%= slug(Russian::transliterate(c.title)) %>">
    <img src="<%= digest_url("/timetable/#{c.image}") %>"/>
    <div class="description">
      <div class="title"> <%= c.title %> </div>
      <div class="timeshort"> <%= c.timeshort %> </div>
      <div class="info"> <%= c.info %> </div>
    </div> <%# description %>
  </div> <%# class %>
  <% end %>
</div>
<% end %>
