<span class="date"> <%= news_date(news) %> </span>
<% if news.pin and index and latest %>
  <span class="pin"> наверх </span>
<% end %>
<div class="title"> <%= news.title %> </div>
<div id="<%= "news-#{news.id}" %>" class="body"> <%= render_news(news, index) %> </div>
<% if index and news.has_more %>
<a class="site-button" href="<%= "news/#{news.id}/" %>"> Подробнее </a>
<% end %>
