<div class="records">
<% records.each_with_index do |record, idx| %>
  <div class="record">
    <div class="index"> <%= idx + 1 %> </div>
    <div class="description">
      <% if not record.youtube_id.nil? %>
      <a href="http://www.youtube.com/watch?v=<%= record.youtube_id %>">
        <span><%= record_description(record, idx + 1) %></span>
      </a>
      <% else %>
        <span><%= record_description(record, idx + 1) %></span>
      <% end %>
    </div>
    <div class="date"> <%= record_date(record) %> </div>
    <div class="download">
      <% if not record.audio_url.nil? and not record.audio_size.nil? %>
        <a class="site-button" href="<%= record.audio_url %>" download>
            mp3&nbsp;&nbsp;<%= record.audio_size %>&nbsp;Mб
        </a>
      <% end %>
    </div>
  </div>
<% end %>
</div> <%# records %>
<script>
$(document).ready(function() {
  $('.description a').magnificPopup({type:'iframe'});
});
</script>
