<div class="site-record">
  <% if idx %>
    <div class="index"> <%= idx %> </div>
  <% end %>
  <div class="date narrow"> <%= record_date(record) %> </div>
  <!-- wrapper for a is to simplify button image layout -->
  <%= record_link(record, idx) %>
  <div class="date wide"> <%= record_date(record) %> </div>
  <div class="download"> <%= record_download(record) %> </div>
</div>
