<% clazz = "day" %>
<% clazz += " current" if date == Date.today %>
<div class="<%= clazz %>">
  <div class="date">
    <div class="month-day"> <%= date.day %> </div>
    <div class="week-day"> <%= Russian::strftime(date, "%a") %> </div>
  </div>
  <% events = @timetable.events(date) %>
  <%= timetable_events(events, 'Спартаковская') %>
  <%= timetable_events(events, 'Мытная') %>
  <%= timetable_events(events, 'Весна') %>
  <% if events.empty? %>
  <div class="site-events">
    <div class="event">
      <div class="time"> </div>
      <div class="title empty"> Нет занятий </div>
    </div>
  </div>
  <% end %>
</div> <%# day %>
