<div class="site-header">
  <div class="title">
    <% if timetable_enhanced? and @skip > 0 %>
      <a href="<%= timetable_link(selected, @skip - 1) %>"> &larr; </a>
    <% end %>

    Расписание занятий

    <% if timetable_enhanced? %>
      <a href="<%= timetable_link(selected, @skip + 1) %>"> &rarr; </a>
    <% end %>
  </div>
</div>
<div class="site-tab">
  <a class="<%= "active" if selected == :week %>"
     href="<%= timetable_link('week', @skip) %>">НА НЕДЕЛЮ</a>
  <a class="<%= "active" if selected == :schedule %>"
     href="<%= timetable_link('schedule', @skip) %>">ПЛАН</a>
</div>
<% if banner.active?(Week.new + @skip) %>
<div class="site-baner">
    <img src="<%= digest_url('/images/wheel.png') %>">
    <div class="message"> <%= banner.message %> </div>
</div>
<% end %>
