<% if index and explicit %>
  <a class="place" href="/contacts/"> <%= index_place(place) %> </a>
<% end %>
<% clazz = "site-events" %>
<% if not index %>
  <% style = { 'Мытная' => 'mytnaya', 'Весна' => 'vesna' }[place]
     clazz += " #{style}" if style %>
<% end %>
<div class="<%= clazz %>">
  <% events.each do |event| %>
    <% clazz = "event" %>
    <% clazz += " conflict" if event.conflict? %>
    <% clazz += " cancel" if event.cancelled? %>
    <div class="<%= clazz %>">
      <div class="time"> <%= event.period %> </div>
      <div class="title">
      <% if /href/ =~ event.title %>
        <%= event.title %>
      <% else %>
      <a href="/timetable?show=schedule#<%= event.slug %>">
        <%= "#{event.title}" %>
      </a>
      <% end %>
      </div>
    </div> <%# event %>
  <% end %>
</div> <%# events %>
