<% mark_event_conflicts(events) %>
<% clazz = "site-events" %>
<% clazz += " #{style}" if style %>
<div class="<%= clazz %>">
  <% events.each do |event| %>
    <% clazz = "event" %>
    <% clazz += " conflict" if event.conflict? %>
    <% clazz += " cancel" if event.cancelled? %>
    <div class="<%= clazz %>">
      <div class="time"> <%= event.period %> </div>
      <div class="title">
      <% if /href/ =~ event.title %>
        <%= event.title %>
      <% else %>
      <a href="/timetable?show=schedule#<%= slug(Russian::transliterate(event.title)) %>">
        <%= "#{event.title}" %>
      </a>
      <% end %>
      </div>
    </div> <%# event %>
  <% end %>
</div> <%# events %>
