<div class="page-admin">

<form action="/logout" method="post" class="logout">
  <button class="site-button logout" type="submit"> Выйти </button>
</form>

<% if not site_errors.empty? %>
  <div class="site-header">
    <div class="title"> Ошибки </div>
  </div>

  <%= site_errors_html(site_errors) %>
<% end %>

<div class="site-header">
  <div class="title"> Изменения </div>
</div>

<h1> Бинарные файлы<a href="#filetype">*</a> </h1>
<% @diff.select { |f| f.mode == :binary }.each do |file| %>
<div class="path"> <%= diff_path(file) %> </div>
<% end %>

<h1> Текстовые файлы<a href="#filetype">*</a> </h1>
<% @diff.select { |f| f.mode == :text }.each do |file| %>
  <div class="file">
    <div class="path"> <%= diff_path(file) %> </div>
    <% file.hunks.each do |hunk| %>
      <% if file.action == :changed %>
    <div class="line">
      <span class="title">Строка:</span>
      <span class="value"> <%= hunk.lnum %> </span>
    </div>
      <% end %>
      <% hunk.changes.each do |change| %>
        <pre class="<%= diff_class(change) %>"><%=
               Rack::Utils.escape_html(change) %></pre>
      <% end %>
    <% end %>
  </div>
<% end %>

<% if not session[:notice] and @diff.empty? %>
  <div id="notice" class="success"> Нет изменений </div>
<% end %>

<% if session[:notice] %>
<div id="notice" class="<%= session[:result] ? 'success' : 'error' %>">
  <%= session[:notice] %>
  <% session[:notice] = nil %>
</div>
<% end %>

<% if not @diff.empty? and site_errors.empty? %>
<form action="/commit" method="post" class="commit">
  <input placeholder="Введите описание изменения"
         name="message" maxlength="70"/>
  <button class="site-button" type="submit">Опубликовать</button>
</form>

<p>Описание изменения обязательно для публикации. Охарактеризуйте кратко, но
ёмко вносимые изменения. Если возможно, используйте английский язык, поскольку,
как правило, с его помощью формулировки получаются более короткими. Для глагола
изменения принято использовать повелительное наклонение. Описание ограничено 70
символами, желательно даже не выходить за рамки 50 символов. Ниже примеры
описаний.</p>

<pre class="messages">новости: добавить новость о Мандале Будды Медицины (2017-05-31-1)
новости: обновить расписание в 2017-05-31-1
расписание: добавить благословение Белой Тары 20 апреля
библиотека: добавить длинную мантру Будды Медицины
все: унифицировать написание названия Дхарма-центра
о центре: обновить фотографии с Мытной на Спартаковскую</pre>
<% end %>

<p id="filetype">* Для бинарных файлов не хранится история всех изменений
в отличие от текстовых файлов. Как результат, после публикации удаленные
бинарные файлы уже нельзя будет воcстановить, так же как нельзя будет вернуть
предыдущую версию измененного бинарного файла. Для текстовых же файлов это
возможно. Бинарные файлы это файлы с изображениями, аудизаписи и подобное.
</p>

</div>
