<div class='archive'>
  <div class="site-header">
    <div class="title"> Учения переданные в центре </div>
  </div>
  <div class="site-2-columns">
  <% @archive.year.each do |year| %>
    <div class="side">
      <div class="year">
        <div class="backborder_1">
          <div class="backborder_2"></div>
        </div>
        <div class="title"> <%= year.year %> </div>
        <% year.teachings.each do |id| %>
            <a class="teachings" href="<%= "/teachings/#{id}/" %>">
              <%= @teachings[id].title %>
            </a>
          <% @teachings[id].theme.each do |theme| %>
            <div class="theme">
            <span class="title"><%=
              theme.title %></span>&nbsp;<span class="size"><%=
              theme.record.size %></span>
            </div>
          <% end %>
          <hr/>
        <% end %>
      </div> <!-- year -->
    </div> <!-- side -->
  <% end %> <!-- by year -->
  </div> <!-- site-2-columns -->
</div>
