<div class="book">

  <div class="header">
    <div class="title">
      <%= @book.title %>
    </div>
    <div class="backlink">
      <a href="/library/"> &larr; БИБЛИОТЕКА </a>
    </div>
  </div>

  <hr/>

  <div class="cover">
    <img src="<%= "cover-medium.jpg" %>"/>
  </div>
  <% # instead of just 'column' to escape bootstrap globals %>
  <div class="info-column">
    <div class="info">
      <% # instead of just 'info' to escape bootstrap globals %>
      <div class="info-table">
        <!--<%= variable_row 'Название', @book.title %>-->
        <%= variable_row 'Автор', comma_present(@book.author) %>
        <%= variable_row 'Переводчик', comma_present(@book.translator) %>
        <%= variable_row 'Год', @book.year %>
        <%= variable_row 'ISBN', @book.isbn %>
        <%= variable_row 'Издательство', @book.publisher %>
        <%= variable_row 'Количество', @book.amount %>
      </div>
    </div>

    <hr/>

    <div class="categories">
      <div class="title">В категориях:</div>
      <div class="content">
        <% book_categories(@categories, @book_slug).each do |id| %>
          <div class="item"> <%= category_link(@categories, id) %> </div>
        <% end %>
      </div>
    </div>
  </div>

  <% if not(@book.annotation.nil? or @book.annotation.empty?) %>
    <div class="annotation">
      <div class="title"> Описание </div>
      <div class="text">
        <% parse_annotation(@book.annotation).each do |paragraph| %>
          <p><%= paragraph%></p>
        <% end %>
      </div>
    </div>
  <% end %>
  <div class="headings">
    <div class="title"> Cодержание </div>
    <div class="items">
      <%= headings_div(parse_toc(@book.contents)) %>
    </div>
  </div>

</div>
