<div class="site-header">
  <div class="title">
    <%= @category.name %>
  </div>
  <div class="backlink">
    <a href="/library/"> &larr; БИБЛИОТЕКА </a>
  </div>
</div>
<div class="page-category">
  <% books_by_group = @category.books_by_group %>
  <div class="menu">
    <% if not @category.parents.empty? %>
      <div class="section">
        <div class="section-title">В категориях</div>
        <% @category.parents.each do |category| %>
        <%= book_category(category) %>
        <% end %>
      </div>
      <hr/>
    <% end %>
    <% if not @category.children.empty? %>
      <div class="section">
        <div class="section-title">Подкатегории</div>
        <% @category.children.each do |category| %>
        <%= book_category(category) %>
        <% end %>
      </div>
      <hr/>
    <% end %>
    <div class="section onpage">
      <div class="section-title">На этой странице</div>
      <% books_by_group.keys.each do |group| %>
      <a href="<%= "##{group}" %>"> <%= Unicode::upcase(group) %> </a>
      <% end %>
    </div>
  </div>
  <div class="books">
    <% books_by_group.each do |group, books| %>
      <div id="<%= group %>" class="group">
        <div class="group-name"> <%= group %> </div>
        <% books.each do |book| %>
          <%= book_thumb(book) %>
        <% end %>
      </div>
      <hr/>
    <% end %>
    </hr>
  </div>
</div>
