<div class="category">
  <div class="page-header-buddha">
    <div class="title">
      <%= @category.name %>
    </div>
    <div class="backlink">
      <a href="/library/"> &larr; БИБЛИОТЕКА </a>
    </div>
  </div>
  <div class="menu">
    <% if not category_categories(@categories, @id).empty? %>
      <div class="section">
        <div class="title">В категориях</div>
          <% category_categories(@categories, @id).each do |id| %>
            <div class="item">
              <%= category_link(@categories, id) %>
            </div>
          <% end %>
      </div>
      <hr/>
    <% end %>
    <% if not @category.subcategory.empty? %>
      <div class="section">
        <div class="title">Подкатегории</div>
        <% @category.subcategory.each do |id| %>
          <div class="item">
            <%= category_link(@categories, id) %>
          </div>
        <% end %>
      </div>
      <hr/>
    <% end %>
    <div class="section">
      <div class="title">На этой странице</div>
      <% @category.group.each do |group| %>
        <div class="item">
          <a href="<%= "##{group.name}" %>">
            <%= Unicode::upcase(group.name) %>
          </a>
        </div>
      <% end %>
    </div>
  </div>
  <div class="books">
    <% @category.group.each do |group| %>
      <div id="<%= group.name %>" class="group">
        <div class="name"> <%= group.name %> </div>
        <% group.book.each do |book_id| %>
          <% book = @books[book_id] %>
          <%= book_thumb(book_id, book) %>
        <% end %>
      </div>
      <hr/>
    <% end %>
    </hr>
  </div>
</div>
