<div class="book">

  <div class="site-header">
    <div class="title">
      <%= @book.title %>
    </div>
    <div class="backlink">
      <a href="/library/"> &larr; БИБЛИОТЕКА </a>
    </div>
  </div>

  <hr/>

  <div class="cover">
    <img src="<%= digest_url('cover-medium.jpg', "/books/#{@book.url}/") %>"/>
  </div>
  <% # instead of just 'column' to escape bootstrap globals %>
  <div class="info-column">
    <div class="info">
      <% # instead of just 'info' to escape bootstrap globals %>
      <div class="info-table">
        <%= variable_row 'Автор', @book.authors %>
        <%= variable_row 'Переводчик', @book.translators %>
        <%= variable_row 'Год', @book.year %>
        <%= variable_row 'ISBN', @book.isbn %>
        <%= variable_row 'Издательство', @book.publisher %>
        <%= variable_row 'Количество', @book.amount %>
      </div>
    </div>

    <hr/>

    <div class="categories">
      <div class="title">В категориях:</div>
      <div class="content">
        <% @book.categories.each do |category| %>
          <div class="item">
            <%= erb :'partials/category_link',
                locals: {
                  category: category,
                  upcase: true
                } %>
          </div>
        <% end %>
      </div>
    </div>
  </div>

  <% if not(@book.annotation.nil? or @book.annotation.empty?) %>
    <div class="annotation">
      <div class="title"> Описание </div>
      <div class="text">
        <% parse_annotation(@book.annotation).each do |paragraph| %>
          <p><%= paragraph%></p>
        <% end %>
      </div>
    </div>
  <% end %>
  <div class="headings">
    <div class="title"> Cодержание </div>
    <div class="items">
      <%= headings_div(parse_toc(@book.contents)) %>
    </div>
  </div>

</div>
