<div class="category">
  <div class='header'>
    <h1> <%= @category.name %> </h1>
    <h3> <a href="/library/"> &larr; В библиотеку </a> </h3>
  </div>
  <div class="menu">
    <% if not category_categories(@categories, @id).empty? %>
      <div class="section">
        <div class="title">В категориях</div>
          <% category_categories(@categories, @id).each do |id| %>
            <div class="item">
              <%= category_link(@categories, id) %>
            </div>
          <% end %>
      </div>
      <hr/>
    <% end %>
    <% if not @category.subcategory.empty? %>
      <div class="section">
        <div class="title">Подкатегории</div>
        <% @category.subcategory.each do |id| %>
          <div class="item">
            <%= category_link(@categories, id) %>
          </div>
        <% end %>
      </div>
      <hr/>
    <% end %>
    <div class="section">
      <div class="title">На этой странице</div>
      <% @category.group.each do |group| %>
        <div class="item">
          <a href="<%= "##{group.name}" %>">
            <%= Unicode::upcase(group.name) %>
          </a>
        </div>
      <% end %>
    </div>
  </div>
  <div class="books">
    <% @category.group.each do |group| %>
      <div id="<%= group.name %>" class="group">
        <div class="name"> <%= group.name %> </div>
        <% group.book.each do |book_id| %>
          <% book = @books[book_id] %>
          <div class="book">
            <a href="<%= "/book/#{book_id}/" %>">
              <img class="cover"
                   src="<%= book_cover_url(book_id, :medium) %>"/>
              <div class="title">
                <%= @books[book_id].title %>
              </div>
            </a>
            <% if not book.author.empty? %>
              <div class="author">
                <%= book.author.join(', ') %>
              </div>
            <% end %>
          </div>
        <% end %>
      </div>
      <hr/>
    <% end %>
    </hr>
  </div>
</div>
