<div class="site-header">
  <div class="title"> <%= @book.title %> </div>
  <a class="backlink" href="/library/"> &larr; БИБЛИОТЕКА </a>
</div>
<div class="page-book">
  <img src="<%= digest_url("/books/#{@book.id}/cover-medium.jpg") %>"/>
  <% # instead of just 'column' to escape bootstrap globals %>
  <div class="info-column">
    <table>
      <%= book_info_line 'Автор', @book.authors %>
      <%= book_info_line 'Переводчик', @book.translators %>
      <%= book_info_line 'Год', @book.year %>
      <%= book_info_line 'ISBN', @book.isbn %>
      <%= book_info_line 'Издательство', @book.publisher %>
      <%= book_info_line 'Количество', @book.amount %>
    </table>

    <div class="title">В категориях:</div>
    <% @book.categories.each do |category| %>
    <%= book_category(category) %>
    <% end %>
  </div>

  <% if not(@book.annotation.nil? or @book.annotation.empty?) %>
    <div class="title"> Описание </div>
    <% parse_annotation(@book.annotation).each do |paragraph| %>
    <p><%= paragraph%></p>
    <% end %>
  <% end %>
  <div class="title"> Cодержание </div>
  <div class="headings">
    <%= headings_div(BookHeadings.parse(@book.contents)) %>
  </div>
</div>
