<div class="center">
  <div class="site-header">
    <div class="title"> Дхарма центр </div>
  </div>
  <div class="site-tab">
    <%= tab_link('/about/', 'СПРАВКА') %>
    <%= tab_link('/teachers/', 'УЧИТЕЛЯ') %>
    <%= tab_link('/contacts/', 'КОНТАКТЫ') %>
    <%= tab_link('/donations/', 'ПОМОЩЬ ЦЕНТРУ') %>
  </div>
  <%= load_page(@path, request.path) %>
</div>
