<div class="classes">
  <div class="title">
    <h1> Занятия </h1>
  </div>
  <% @classes.classes.each_slice(3) do |slice|%>
    <hr/>
    <div class="line">
      <div class="line-row">
        <% slice.each do |classes| %>
          <div class="cell">
            <% if not classes.page.nil? %>
              <a href="/class/<%= classes.page %>">
            <% end %>
            <img src="/classes/<%= classes.image %>"/>
            <% if not classes.page.nil? %>
              </a>
            <% end %>
          </div>
        <% end %>
      </div>
      <div class="line-row">
        <% slice.each do |classes| %>
          <div class="cell">
            <% if not classes.page.nil? %>
              <a href="/class/<%= classes.page %>">
            <% end %>
            <h3><%= classes.title %></h3>
            <% if not classes.page.nil? %>
              </a>
            <% end %>
          </div>
        <% end %>
      </div>
      <div class="line-row">
        <% slice.each do |classes| %>
          <div class="cell">
            <%= classes.description %>
          </div>
        <% end %>
      </div>
      <div class="line-row timetable">
        <% slice.each do |classes| %>
          <div class="cell">
            <%= classes.timetable %>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
