<div class="index">
  <div class="head">
    <div class="info">
      <div class="top">
        <img src="<%= digest_url('/site_logo.png') %>"/>
        <div class="title">
          МОСКОВСКИЙ<br/>
          БУДДИЙСКИЙ ЦЕНТР<br/>
          ЛАМЫ ЦОНКАПЫ
        </div>
      </div>
      <hr/>
<p>Московский буддийский Центр Ламы Цонкапы — религиозная организация,
объединяющая последователей традиционного буддизма Махаяны в городе Москве.
Центр создан группой учеников постоянно живущего в России тибетского ламы
(наставника) геше Джампа Тинлея, который является духовным руководителем этой
организации. Центр носит имя Ламы Цонкапы – основателя школы Гелуг, выдающегося
ученого и практика тибетского буддизма, который почитается наравне с Буддой
Шакьямуни.</p>
      <a href="/about/">ПОДРОБНЕЕ О ЦЕНТРЕ&nbsp;&rarr;</a>
    </div>
    <div class="slides">
      <%= slideshow('about/photos') %>
    </div>
  </div> <!-- head -->
  <hr/>
  <div class="middle">
    <div class="photo_container">
    <a href="/teachers/">
      <div class="title"> Учителя </div>
      <div class="geshela">
        Досточтимый Геше Джампа Тинлей
      </div>
    </a>
    </div>
    <div class="quotes">
      <div class="fotorama"
           data-arrows="false"
           data-width="100%">
        <% @quotes.quote.each do |quote| %>
          <div> <%= quote %> </div>
        <% end %>
      </div>
    </div>
  </div>
  <hr/>
  <div class="dynamic">
    <div class="news">
      <div class="header">
        <div class="title"> Новости </div>
        <a href="/news?top=true">ВСЕ НОВОСТИ&nbsp;&rarr;</a>
      </div>
      <div class="feed">
        <% @news.each do |n| %>
          <%= erb :'partials/news', locals: { news: n,
                                              index: true } %>
          <hr/>
        <% end %>
      </div>
    </div>
    <div class="right">
      <div class="timetable">
        <div class="header">
          <div class="title"> Сегодня в центре </div>
          <a href="/timetable?show=week">ВСЕ РАСПИСАНИЕ&nbsp;&rarr;</a>
        </div>
        <hr/>
        <% day = Date.today %>
        <%= erb :'partials/week_day_places', locals: {
          events: timetable_events(@timetable, day, day) } %>
      </div>
      <div class="records">
        <div class="header">
          <div class="title"> Новые записи </div>
          <a href="/teachings/">ВСЕ ЗАПИСИ&nbsp;&rarr;</a>
        </div>
        <hr/>
        <%= erb :'partials/records_list',
          locals: { records: @records } %>
      </div>
    </div>
  </div>
</div>
