<div class="page-index">

<div class="info">
  <div class="logo">
    <img src="<%= digest_url('/images/site_logo.png') %>"/>
    <div class="title"> МОСКОВСКИЙ<br/> БУДДИЙСКИЙ ЦЕНТР<br/> ЛАМЫ ЦОНКАПЫ </div>
  </div>
  <hr/>
  <%= @index.welcome %>
  <a href="/about/">ПОДРОБНЕЕ О ЦЕНТРЕ&nbsp;&rarr;</a>
</div>
<% if @index.announce and (not @index.announce.end or @index.announce.end >= Date.today) %>
<a class="photos" href="<%= @index.announce.link %>">
  <img src="<%= digest_url("#{@index.announce.image}") %>"/>
</a>
<% else %>
<%= slideshow('about/photos') %>
<% end %>
<hr/>
<a class="teachers" href="/teachers/">
  <div class="title"> Учителя </div>
  <div class="geshela"> Досточтимый Геше Джампа Тинлей </div>
</a>
<div class="fotorama quotes" data-arrows="false" data-width="100%">
  <% @quotes.each do |quote| %>
  <div> <%= quote %> </div>
  <% end %>
</div>
<hr/>
<div class="news">
  <div class="index-header">
    <div> Новости </div>
    <a href="/news?top=true">ВСЕ НОВОСТИ&nbsp;&rarr;</a>
  </div>
  <% @news.each do |news| %>
  <div class="site-news">
    <%= news_item(news, true, true) %>
  </div>
  <hr/>
  <% end %>
</div>
<div class="block timetable">
  <div class="index-header">
    <div> Сегодня в центре </div>
    <a href="/timetable?show=week">ВСЕ РАСПИСАНИЕ&nbsp;&rarr;</a>
  </div>
  <hr/>
  <% events = @timetable.events(Date.today) %>
  <%= index_events(events, 'Спартаковская') %>
  <%= index_events(events, 'Мытная') %>
  <%= index_events(events, 'Весна') %>
  <% if events.empty? %>
  <div class="noevents"> Нет занятий </div>
  <% end %>
</div>
<div class="block geshela">
  <div class="index-header">
    <div> Новости <br/>geshe.ru
      <a href="http://geshe.ru" target="_blank">&rarr;</a>
    </div>
  </div>
  <hr/>
  <% @geshe_news.each do |news| %>
      <div class="date"><%= news[:date].strftime('%Y.%m.%d') %>&nbsp;&nbsp;</div>
      <a class="news" href="http://geshe.ru/<%= news[:href] %>" target="_blank">
        <%= news[:title] %>
      </a>
  <% end %>
</div>
<div class="block">
  <div class="index-header">
    <div> Новые записи </div>
    <a href="/teachings/">ВСЕ ЗАПИСИ&nbsp;&rarr;</a>
  </div>
  <hr/>
  <div class="records">
    <% @records.each do |record| %>
      <%= erb :'partials/record', locals: { record: record, idx: nil } %>
    <% end %>
  </div>
</div>

<script>
$(document).ready(function() {
  $('.site-record a.description').magnificPopup({type:'iframe'});
});
</script>
</div>
