<div class="page-index">

<div class="info">
  <div class="logo">
    <img src="<%= digest_url('/images/site_logo.png') %>"/>
    <div class="title"> МОСКОВСКИЙ<br/> БУДДИЙСКИЙ ЦЕНТР<br/> ЛАМЫ ЦОНКАПЫ </div>
  </div>
  <hr/>
  <%= @index.welcome %>
  <a href="/about/">ПОДРОБНЕЕ О ЦЕНТРЕ&nbsp;&rarr;</a>
</div>
<% if @index.announce and @index.announce.end >= Date.today %>
<a class="photos" href="<%= @index.announce.link %>">
  <img src="<%= digest_url("/index/#{@index.announce.image}") %>"/>
</a>
<% else %>
<%= slideshow('about/photos') %>
<% end %>
<hr/>
<a class="teachers" href="/teachers/">
  <div class="title"> Учителя </div>
  <div class="geshela"> Досточтимый Геше Джампа Тинлей </div>
</a>
<div class="fotorama quotes" data-arrows="false" data-width="100%">
  <% @quotes.current_quotes.each do |quote| %>
  <div> <%= quote.strip %> </div>
  <% end %>
</div>
<hr/>
<div class="news block">
  <div class="header">
    <div> Новости </div>
    <a href="/news?top=true">ВСЕ НОВОСТИ&nbsp;&rarr;</a>
  </div>
  <% @news.each do |news| %>
  <div class="site-news">
    <%= news_item(news, true) %>
  </div>
  <hr/>
  <% end %>
</div>
<div class="timetable block">
  <div class="header">
    <div> Сегодня в центре </div>
    <a href="/timetable?show=week">ВСЕ РАСПИСАНИЕ&nbsp;&rarr;</a>
  </div>
  <hr/>
  <%= timetable_day_events(Date.today) %>
</div>
<div class="records block">
  <div class="header">
    <div> Новые записи </div>
    <a href="/teachings/">ВСЕ ЗАПИСИ&nbsp;&rarr;</a>
  </div>
  <hr/>
  <div class="records">
    <% @records.each do |record| %>
    <%= teachings_record(record) %>
    <% end %>
  </div>
</div>

<script>
$(document).ready(function() {
  $('.site-record .description a').magnificPopup({type:'iframe'});
});
</script>
</div>
