<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Московский Буддийский Центр Ламы Цонкапы</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/fotorama/4.6.4/fotorama.js"></script> <!-- 16 KB -->
    <script src="http://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/jquery.magnific-popup.min.js"></script>
    <script src="//api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript"></script>
    <script src="/3d-party/js/scrollUp-2.4.1.js"></script>
    <script src="/3d-party/js/bigSlide-0.12.0.js"></script>
    <script src="<%= asset_digest_url('/main.js') %>"></script>
    <script src="/3d-party/js/modernizr-custom-1.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700i&subset=cyrillic" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/css/bootstrap.min.css">
    <link  href="http://cdnjs.cloudflare.com/ajax/libs/fotorama/4.6.4/fotorama.css" rel="stylesheet"> <!-- 3 KB -->
    <link  href="http://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/magnific-popup.min.css" rel="stylesheet">
    <% if settings.development? %>
      <link rel="stylesheet" href="/css/common.css">
      <link rel="stylesheet" href="/css/layout.css">
      <link rel="stylesheet" href="/css/archive.css">
      <link rel="stylesheet" href="/css/teachings.css">
      <link rel="stylesheet" href="/css/news.css">
      <link rel="stylesheet" href="/css/books.css">
      <link rel="stylesheet" href="/css/book-category.css">
      <link rel="stylesheet" href="/css/library.css">
      <link rel="stylesheet" href="/css/index.css">
      <link rel="stylesheet" href="/css/timetable.css">
      <link rel="stylesheet" href="/css/classes.css">
      <link rel="stylesheet" href="/css/message.css">
      <link rel="stylesheet" href="/css/subscription.css">
      <link rel="stylesheet" href="/css/teachers.css">
      <link rel="stylesheet" href="/css/donations.css">
      <link rel="stylesheet" href="/css/contacts.css">
      <link rel="stylesheet" href="/css/about.css">
    <% else %>
      <link rel="stylesheet" href=<%= asset_digest_url('/css/bundle.css') %>">
    <% end %>
    <% @extra_styles.each do |style| %>
      <link rel="stylesheet" href="<%= data_digest_url(style) %>">
    <% end %>
  </head>
  <body>
    <nav>
      <div class="container">
        <a class="logo" href="/">
          <img alt="Московский Буддийский Центр Ламы Цонкапы" src="/logo.svg"/>
        </a>

        <div class="links">
          <% @menu.item.each do |item| %>
            <a href="<%= item.link %>"
               class="<%= "active" if item.name == @menu_active.to_s %>">
              <%= item.title %>
            </a>
          <% end %>
        </div>

        <a href="#menu" class="menu-link push">
          <img alt="Меню" src="/menu.svg"/>
        </a>
      </div> <%# container %>
    </nav>
    <div class="container body push">
      <%= yield %>
      <div class="footer row">
        <div class="map">
        <%= erb :'partials/contacts' %>
        <div class="links">
          <% @menu.item.each do |item| %>
          <div class="column">
            <div class="menu">
              <a href="<%= item.link %>"> <%= item.title %> </a>
            </div>
            <div class="submenu">
            <% item.subitem.each do |subitem| %>
              <a href="<%= subitem.link %>"> <%= subitem.title %> </a>
            <% end %>
            </div>
          </div>
          <% end %>
        </div> <%# links %>
        </div> <%# map %>
        <%= erb :'partials/subscribe' %>
      </div> <%# footer %>
    </div> <%# container %>

    <div id="menu" class="panel" role="navigation">
      <div class="links">
        <% @menu.item.each do |item| %>
          <a href="<%= item.link %>"> <%= item.title %> </a>
        <% end %>
      </div>
    </div> <%# menu %>

    <%= erb :'partials/ya_metrika' if @ya_metrika %>

  </body>
</html>
