<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="/3d-party/js/bootstrap3-custom.js"></script>
    <script src="/3d-party/js/scrollUp.js"></script>
    <script src="/3d-party/js/bigSlide.js"></script>
    <script src="/main.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700i&subset=cyrillic" rel="stylesheet">
    <link rel="stylesheet" href="/3d-party/css/bootstrap3-custom.css">
    <link rel="stylesheet" href="/3d-party/css/bootstrap3-theme-custom.css">
    <link rel="stylesheet" href="/css/common.css">
    <link rel="stylesheet" href="/css/layout.css">
    <link rel="stylesheet" href="/css/archive.css">
    <link rel="stylesheet" href="/css/teachings.css">
    <link rel="stylesheet" href="/css/news.css">
    <link rel="stylesheet" href="/css/books.css">
    <link rel="stylesheet" href="/css/book-category.css">
    <link rel="stylesheet" href="/css/library.css">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/timetable.css">
    <link rel="stylesheet" href="/css/message.css">
    <link rel="stylesheet" href="/css/subscription.css">
    <link rel="stylesheet" href="/css/teachers.css">
    <link rel="stylesheet" href="/css/text.css">
    <link rel="stylesheet" href="/css/classes.css">
    <link rel="stylesheet" href="/css/donations.css">
  </head>
  <body>
    <nav>
      <div class="container">
        <a class="logo" href="/">
          <img alt="Московский Буддийский Центр Ламы Цонкапы" src="/logo.svg"/>
        </a>

        <div class="links">
          <% @menu.item.each do |item| %>
            <a href="<%= item.link %>"> <%= item.title %> </a>
          <% end %>
        </div>

        <a href="#menu" class="menu-link push">
          <img alt="Меню" src="/menu.svg"/>
        </a>
      </div> <%# container %>
    </nav>
    <div class="container body push">
      <%= yield %>
      <div class="footer row">
        <%= erb :'partials/contacts' %>
        <div class="links">
          <% @menu.item.each do |item| %>
          <div class="column">
            <div class="menu">
              <a href="<%= item.link %>"> <%= item.title %> </a>
            </div>
            <div class="submenu">
            <% item.subitem.each do |subitem| %>
              <a href="<%= subitem.link %>"> <%= subitem.title %> </a>
            <% end %>
            </div>
          </div>
          <% end %>
        </div> <%# links %>
      </div> <%# footer %>
    </div> <%# container %>

    <div id="menu" class="panel" role="navigation">
      <div class="links">
        <% @menu.item.each do |item| %>
          <a href="<%= item.link %>"> <%= item.title %> </a>
        <% end %>
      </div>
      <%= erb :'partials/contacts' %>
    </div> <%# menu %>
  </body>
</html>
