<!DOCTYPE html>
<html lang="en">
  <%= erb :'partials/layout-head' %>
  <body>
<nav>
<div class="menu container">
  <% if session[:login] %>
  <div class="admin">
    <%= menu_link('/admin/', "УПРАВЛЕНИЕ") %>
  </div>
  <% end %>
  <div class="main">
    <a class="logo" href="/">
      <img src="<%= digest_url('/images/site_logo_small.png') %>"/>
    </a>
    <% @menu.item.each do |i| %>
      <%= menu_link(i.link, i.title) %>
    <% end %>
  </div>
  <a href="#menu" class="menu-link">
    <img alt="Меню" src="<%= digest_url('/images/menu.svg') %>"/>
  </a>
</div> <%# container %>
</nav>

<div class="container body push">
  <div class="content">
    <%= yield %>
  </div>
  <div class="site-footer row">
    <div class="links">
      <% about = @menu.about %>
      <a class="regular" href="<%= about.link %>"> <%= about.title %> </a>
      <% about.subitem.each do |subitem| %>
      <a class="sublink" href="<%= subitem.link %>"> <%= subitem.title %> </a>
      <% end %>
    </div>
    <div class="links second">
      <% @menu.others.each do |item| %>
      <a class="regular" href="<%= item.link %>"> <%= item.title %> </a>
      <% end %>
    </div>
    <%= erb :'partials/subscribe' %>
    <%= erb :'partials/contacts' %>
  </div> <%# footer %>
</div> <%# container %>

<div id="menu" class="panel" role="navigation">
  <% @menu.item.each do |item| %>
  <a href="<%= item.link %>"> <%= item.title %> </a>
  <% end %>
</div> <%# menu %>

<%= erb :'partials/ya_metrika' if @ya_metrika %>

  </body>
</html>
