<!DOCTYPE html>
<html lang="en">
  <%= erb :'partials/layout-head' %>
  <body>
    <nav>
    <div class="menu container">
      <% if session[:login] %>
      <div class="admin">
        <%= menu_link('admin', '/admin/', "УПРАВЛЕНИЕ") %>
      </div>
      <% end %>
      <div class="main">
        <a class="logo" href="/">
          <img src="<%= digest_url('/site_logo_small.png') %>"/>
        </a>
        <% @menu.item.each do |item| %>
          <%= menu_link(item.name, item.link, item.title) %>
        <% end %>
      </div>
      <a href="#menu" class="menu-link">
        <img alt="Меню" src="<%= digest_url('/menu.svg') %>"/>
      </a>
    </div> <%# container %>
    </nav>

    <div class="container body push">
      <%= yield %>
      <div class="footer row">
        <div class="map">
        <div class="links">
          <% about = @menu.about %>
          <a href="<%= about.link %>"> <%= about.title %> </a>
          <div class="sublinks">
          <% about.subitem.each do |subitem| %>
            <a href="<%= subitem.link %>"> <%= subitem.title %> </a>
          <% end %>
          </div>
        </div>
        <div class="links right-links">
          <% @menu.others.each do |item| %>
            <a href="<%= item.link %>"> <%= item.title %> </a>
          <% end %>
        </div>
        </div> <%# map %>
        <div class="mail">
          <%= erb :'partials/subscribe' %>
        </div>
        <div class="right">
          <a href="https://www.facebook.com/MoscowBuddhistCenterofLamaTsonkapa/"
             class="facebook"></a>
          <%= erb :'partials/contacts' %>
        </div>
      </div> <%# footer %>
    </div> <%# container %>

    <div id="menu" class="panel" role="navigation">
      <div class="links">
        <% @menu.item.each do |item| %>
          <a href="<%= item.link %>"> <%= item.title %> </a>
        <% end %>
      </div>
    </div> <%# menu %>

    <%= erb :'partials/ya_metrika' if @ya_metrika %>

  </body>
</html>
