<div class="site-header">
  <div class="title"> Учения переданные в центре </div>
</div>

<div class="site-centered">

<p>В этом разделе собраны аудио и видео записи учений Досточтимого
Геше Джампа Тинлея переданных в Дхарма-центре и на московских
ретритах. Тантрические учения отмечены специальным образом. Их можно
слушать без ограничений, но для практики необходимо получить посвящение.
Если же посвящения нет, то их стоит пока воспринимать как информацию.</p>

<p>В <a href="http://lib.geshe.ru/node/6" target="_blank">архивах сайта geshe.ru</a>
собраны учения переданные Геше-ла в Дхарма-центрах других городов,
также там можно найти расшифровки учений.</p>

</div>

<div class="page-archive">
<div class="site-2-columns">
  <% by_year = @teachings.group_by { |t| t.date.year } %>
  <% by_year.keys.each do |year| %>
  <!-- unfortunately you can not use 50% with margins, thus extra half -->
  <div class="side">
    <div class="backborder up"></div>
    <div class="backborder down"></div>
    <div class="year">
    <div class="title"> <%= year %> </div>
    <% by_year[year].each do |teachings| %>
      <a href="<%= "/teachings/#{teachings.id}/" %>"> <%= teachings.title %> </a>
      <% teachings.themes.each do |theme| %>
      <% vehicle = theme.tantra ? "tantra" : "sutra" %>
      <% if theme.title %>
        <div class="theme"><span class="title"><%= theme.title %></span>&nbsp;&nbsp;<span class="size"><%= theme.count %></span>&nbsp;&nbsp;<a class="site-vehicle <%= vehicle %>" href="#tantra"></a></div>
      <% end %>
      <% end %>
      <hr/>
    <% end %>
    </div>
  </div>
  <% end %> <!-- by year -->
</div>

<p id="tantra"><span class="site-vehicle tantra"></span> &mdash; учения отмеченные как
тантрические можно слушать без ограничений, но для их практики необходимо посвящение.
Если посвящения нет, то их стоит воспринимать пока как информацию.
.</p>

</div>
