<div class="site-header">
  <div class="title"> <%= @teachings.title %>&nbsp;-&nbsp;<%= @teachings.begin_date.year %> </div>
  <a class="backlink" href="/teachings/">&larr; ВСЕ УЧЕНИЯ</a>
</div>
<div class="page-teachings">
  <% @teachings.theme.each do |theme| %>
  <% if theme.title %>
    <% vehicle = theme.tantra ? "tantra" : "sutra" %>
    <span class="title"><%= theme.title %><sup class="site-vehicle <%= vehicle%>"></sup> </span>
  <% end %>
  <div class="site-centered">
    <% if theme.annotation %>
      <p><%= theme.annotation %></p>
    <% end %>
    <% if theme.tantra %>
      <p>Тантрические учения могут получать те, кто получал Благословение Белой
      Тары или Благословение Манджушри, либо какие бы то ни было посвящения
      любого класса тантры.</p>
    <% end %>
  </div>
  <div class="records">
    <% theme.record.each_with_index do |record, idx| %>
      <%= erb :'partials/record', locals: { record: record, idx: idx + 1 } %>
    <% end %>
  </div>
  <% end %>
</div>
<script>
$(document).ready(function() {
  $('.site-record a.description').magnificPopup({type:'iframe'});
});
</script>
