<div class="row theme-header">
  <div class="col-lg-12">
    <h1> <%= @theme.title %>, <%= @theme.year %> </h1>
    <h3> <a href="/teachings">&larr; Все учения</a></h3>
  </div>
</div>
<% @theme.record.each_with_index do |record, index| %>
<div class="row theme-record">
  <div class="col-lg-1 col-lg-offset-2">
    <div class="secondary-data">
      <h1> <%= index + 1 %> </h1>
    </div>
  </div>
  <div class="col-lg-6">
    <iframe width="560" height="315"
            src=<%= youtube_link(record) %>
            frameborder="0"
            allowfullscreen>
    </iframe>
    <div class="record-metadata clearfix-end">
      <div class="record-date secondary-data">
        Записано: <%= format_date(record) %>
      </div>
      <%= download_link record, :audio %>
      <%= download_link record, :video %>
    </div>
    <div class="record-description">
      <p> <b> <%= record.description %> </b> </p>
    </div>
  </div>
</div>
<% end %>
