<%= erb :'partials/time_header',
    locals: {
      selected: :week,
      banner: @timetable.banner
    }
%>

<div class="page-timetable">
  <% week = Week.new + @skip; next_week = week + 1 %>
  <% events_cur = @timetable.events(week.monday..week.sunday) %>
  <% events_next = @timetable.events(next_week.monday..next_week.sunday) %>
  <div class="months"> <%= timetable_months(week) %></div>
  <div class="table two-weeks">
    <% Week.cwdays.each do |day| %>
      <div class="day-line">
        <%= week_day(week.day(day), events_cur) %>
        <%= week_day(next_week.day(day), events_next) %>
      </div>
    <% end %>
  </div>
  <div class="table one-week">
     <% week.dates.each do |date| %>
      <div class="day-line"> <%= week_day(date, events_cur) %> </div>
     <% end %>
  </div>
  <div class="table one-week">
     <% next_week.dates.each do |date| %>
      <div class="day-line"> <%= week_day(date, events_next) %> </div>
     <% end %>
  </div>

  <% events = @timetable.events(week.monday..next_week.sunday) %>

  <% mytnaya = events.select { |e| e.place == 'Мытная' } %>
  <% if not mytnaya.empty? %>
  <div class="footnote">
    <div class="marker color">&nbsp;</div>
    <div class="text">
    занятия проводятся в старом помещении Центра по
    <a href="https://yandex.ru/maps/-/C6qjYU4o">адресу</a>
    ул.&nbsp;Мытная&nbsp;23,&nbsp;к.1.
    </div>
  </div>
  <% end %>

  <% if not events.select { |e| e.temporary? }.empty? %>
  <div class="footnote">
    <div class="marker star">*</div>
    <div class="text">
    занятия проводятся по измененному графику.
    Подробности смотрите в разделе "План".
    </div>
  </div>
  <% end %>
</div>
