<%= erb :'partials/time_header',
    locals: { selected: :week, banner: @timetable.banner } %>

<div class="page-timetable">
  <% cur = Week.new + @skip; nex = cur + 1 %>
  <div class="months"> <%= timetable_months(cur) %></div>
  <div class="two-weeks">
    <% Week.cwdays.each do |day| %>
    <div class="day-line">
      <%= timetable_day(cur.day(day)) %>
      <%= timetable_day(nex.day(day)) %>
    </div>
    <% end %>
  </div>
  <div class="one-week">
    <% cur.dates.each do |date| %>
      <%= timetable_day(date) %>
    <% end %>
  </div>
  <div class="one-week">
    <% nex.dates.each do |date| %>
      <%= timetable_day(date) %>
    <% end %>
  </div>

  <% if timetable_place?('Мытная') %>
  <div class="footnote">
    <div class="marker color yellow">&nbsp;</div>
    <div class="text">
    занятия, отмеченные этим цветом, проводятся в старом помещении Центра по
    <a href="https://yandex.ru/maps/-/C6qjYU4o">адресу</a>
    ул.&nbsp;Мытная&nbsp;23,&nbsp;к.1.
    </div>
  </div>
  <% end %>
  <% if timetable_place?('Весна') %>
  <div class="footnote">
    <div class="marker color green">&nbsp;</div>
    <div class="text">
      занятия, отмеченные этим цветом, проводятся на первом или втором этаже
    </div>
  </div>
  <% end %>
</div>
