<div class="timetable">
  <%= erb :'partials/time_header',
      locals: {
        selected: :week,
        banner: @timetable.banner
      }
  %>
  <div class="months"> <%= timetable_months %></div>
  <% week = Week.new; next_week = week.next %>
  <% events_cur = week_events(@timetable, week) %>
  <% events_next = week_events(@timetable, next_week) %>
  <div class="table two-weeks">
    <% (0..6).each do |day| %>
      <div class="day-line">
        <%= erb :'partials/week_day',
            locals: { date: week.monday + day, events: events_cur[day]} %>
        <%= erb :'partials/week_day',
            locals: { date: next_week.monday + day, events: events_next[day]} %>
      </div>
    <% end %>
  </div>
  <div class="table one-week">
     <% (0..6).each do |day| %>
       <div class="day-line">
         <%= erb :'partials/week_day',
             locals: { date: week.monday + day, events: events_cur[day]} %>
       </div>
     <% end %>
  </div>
  <div class="table one-week">
     <% (0..6).each do |day| %>
       <div class="day-line">
         <%= erb :'partials/week_day',
             locals: { date: next_week.monday + day, events: events_next[day]} %>
       </div>
     <% end %>
  </div>
</div>
