<div class="timetable">
  <%= erb :'partials/time_header',
      locals: {
        selected: :week,
        banner: @timetable.banner
      }
  %>
  <div class="months"> <%= timetable_months %></div>
  <% week = Week.new; next_week = week.next %>
  <% events_cur = week_events(@timetable, week) %>
  <% events_next = week_events(@timetable, next_week) %>
  <div class="table two-weeks">
    <% (0..6).each do |day| %>
      <div class="day-line">
        <%= erb :'partials/week_day',
            locals: { date: week.monday + day, events: events_cur[day]} %>
        <%= erb :'partials/week_day',
            locals: { date: next_week.monday + day, events: events_next[day]} %>
      </div>
    <% end %>
  </div>
  <div class="table one-week">
     <% (0..6).each do |day| %>
       <div class="day-line">
         <%= erb :'partials/week_day',
             locals: { date: week.monday + day, events: events_cur[day]} %>
       </div>
     <% end %>
  </div>
  <div class="table one-week">
     <% (0..6).each do |day| %>
       <div class="day-line">
         <%= erb :'partials/week_day',
             locals: { date: next_week.monday + day, events: events_next[day]} %>
       </div>
     <% end %>
  </div>
  <% events = @timetable.events(week.monday, next_week.sunday) %>
  <% mytnaya = events.select { |e| e[:place] == 'Мытная' } %>
  <% if not mytnaya.empty? %>

  <div class="footnote">
    Цветом отмечены занятия которые проходят в старом помещении Центра по
    <a href="https://yandex.ru/maps/-/C6Eou-3n">адресу</a>
    ул.&nbsp;Мытная&nbsp;23,&nbsp;к.1.
  </div>

  <% end %>
</div>
